.mobile-full-screen-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Espacio adicional para evitar que el formulario toque los bordes */
  box-sizing: border-box;
  background-color: #f9f9f9;
}
.tittle{
  text-align: center;
  font-size: 25px;
  color: #000000;
}
.tittle-nombre{
  text-align: left;
  font-size: 15px;
  color: #000000;
  margin-bottom: 5px;
}
.tittle-matricula, .tittle-carrera, .tittle-materia, .tittle-profesor, .tittle-material,
.tittle-area, .tittle-integrantes{
  margin-top: 2px;
  text-align: left;
  font-size: 15px;
  color: #000000;
  margin-bottom: 5px;
}
form {
  margin-bottom:auto;
  width: 100%;
  max-width: 400px; /* Limitar el ancho máximo en pantallas más grandes */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-nombre, .input-matricula, .input-integrantes{
  width: 95%;
  padding: 10px;
  margin-top: 10px 0 ;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom:  10px;
}
.input-carrera, .input-materia, .input-profesor, .input-area{
  width: 100%;
  padding: 10px;
  margin-top: 10px 0 ;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom:  10px;
}
.contmaterial{
  display: flex;
}
.input-material{
  margin-bottom: 10px;
  width: 45%;
  margin-right: 5px;
  padding: 10px;

}
.input-cantmaterial{
  margin-bottom: 10px;
  width: 45%;
  padding: 10px;
}
.submit {
  display: block;
  margin: 0 auto;
  width: 30%;
  padding: 12px;
  background-color: #3acc30;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit:hover {
  background-color: #03982b;
}

ul {
  list-style-type: none; /* Quita las viñetas */
  padding: 0; /* Opcional: elimina el padding */
  margin: 0; /* Opcional: elimina el margin */
  border: 1px solid #ccc;
  text-align: center;
}

ul:hover{
  background-color: #ccc9c9;
}

.btn-add{
  margin-bottom: 10px;
  background-color: #3acc30;
  width: 10%;
  margin-left: 5px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border:none;
}

.btn-add:hover{
  background-color: #03982b;
}